DB_URL=jdbc:postgresql://0.0.0.0:5432/mainDB
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=3600000

ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=

SUPABASE_URL=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=Media
